[gcode_macro print_start]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}        # Set bed temperature from slicer parameter, default 60°C
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(210)|float %}  # Set extruder temperature from slicer parameter, default 200°C
    {% set MATERIAL = params.MATERIAL|default("pla")|lower %}     # Get filament type from slicer, default PLA, lowercase

    # Determine Z offset
    {% if MATERIAL == "pla" %} {% set z_adjust = 0.00 %} {% endif %}  # Z offset for PLA
    {% if MATERIAL == "abs" %} {% set z_adjust = 0.10 %} {% endif %}  # Z offset for ABS
    {% if MATERIAL == "asa" %} {% set z_adjust = 0.00 %} {% endif %}  # Z offset for ASA
    {% if MATERIAL not in ["pla","abs","asa"] %} {% set z_adjust = 0.0 %} {% endif %}  # Default Z offset for unknown filaments

    # Set heater temperatures
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED_TEMP}       # Start heating the bed
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER_TEMP}   # Start heating the extruder

    conditional_homing # Home if not all axis not already homed

    # Apply Z offset immediately after Z homing
    SET_GCODE_OFFSET Z={z_adjust} MOVE=1                             # Apply filament-specific Z offset

    # Raise Z to a safe height to prevent collisions or "Must home axis first" errors
    G0 Z5 F3000                                                    # Move Z to 20 mm at 3000 mm/min
    M400                                                            # Wait for move to complete

    # Gantry leveling
    QUAD_GANTRY_LEVEL                                               # Level the gantry using all four corners
    G0 Z5 F3000                                                     # Move Z down to 5 mm after leveling
    G0 X173 Y173 F12000                                            # Move to center/front of the bed

    # Bed mesh calibration
    BED_MESH_CALIBRATE                                              # Probe the bed to create a mesh
    G0 Z5                                                           # Raise Z to 5 mm after probing
    G0 X173 Y173 F12000                                              # Move to center/front of the bed
    BED_MESH_PROFILE LOAD=default                                    # Load the default bed mesh profile

[gcode_macro print_end]
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 20, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F1800                 ; retract filament
    
    TURN_OFF_HEATERS
    
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 100} F12000 ; park nozzle at rear
    M107                                     ; turn off fan
    
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END

[gcode_macro conditional_homing]
gcode:
  {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %} # Logic: Check if X, Y, or Z are NOT currently homed. If any one of them is unhomed, run the following
  G28 X # Perform the homing routine for the X axis only
  M400 # Clear the move buffer; wait for the X homing to completely finish  
  G0 X173 F12000 # Rapid move to X coordinate 173 at a speed of 200mm/s
  M400 # Wait for the move to X173 to finish before next command
  G28 Y # Perform the homing routine for the Y axis only
  M400 # Wait for the Y homing to completely finish
  G0 Y173 F12000 # Rapid move to Y coordinate 173 at a speed of 200mm/s
  M400 # Wait for the move to Y173 to finish
  G28 Z # Perform the homing routine for the Z axis only
  M400 # Wait for the Z homing to completely finish
  G0 Z10 F3000 # Rapidly moves the nozzle to a height of 10mm at a speed of 50mm/s
  {% endif %} # End the conditional check

[gcode_macro PID_Extruder]
gcode:
  {% set T = params.TEMPERATURE|default(210)|float %}
  PID_CALIBRATE HEATER=extruder TARGET={T}

[gcode_macro PID_BED]
gcode:
  {% set T = params.TEMPERATURE|default(60)|float %}
  PID_CALIBRATE HEATER=heater_bed TARGET={T}

[quad_gantry_level]
gantry_corners:
   -60,-10
   410,420
points:
   25,25
   25,300
   300,300
   300,25
speed: 3000
horizontal_move_z: 5
retries: 10
retry_tolerance: 0.0075
max_adjust: 10

[gcode_macro test_speed]
# Home, get position, throw around toolhead, home again.
# If MCU stepper positions (first line in GET_POSITION) are greater than a full step different (your number of microsteps), then skipping occured.
# We only measure to a full step to accomodate for endstop variance.
# Example: TEST_SPEED SPEED=300 ACCEL=5000 ITERATIONS=10

description: Test for max speed and acceleration parameters for the printer. Procedure: Home -> ReadPositionFromMCU -> MovesToolhead@Vel&Accel -> Home -> ReadPositionfromMCU

gcode:
    # Speed
    {% set speed  = params.SPEED|default(printer.configfile.settings.printer.max_velocity)|int %}
    # Iterations
    {% set iterations = params.ITERATIONS|default(5)|int %}
    # Acceleration
    {% set accel  = params.ACCEL|default(printer.configfile.settings.printer.max_accel)|int %}
    # Minimum Cruise Ratio
    {% set min_cruise_ratio = params.MIN_CRUISE_RATIO|default(0.5)|float %}
    # Bounding inset for large pattern (helps prevent slamming the toolhead into the sides after small skips, and helps to account for machines with imperfectly set dimensions)
    {% set bound = params.BOUND|default(20)|int %}
    # Size for small pattern box
    {% set smallpatternsize = SMALLPATTERNSIZE|default(20)|int %}
    
    # Large pattern
        # Max positions, inset by BOUND
        {% set x_min = printer.toolhead.axis_minimum.x %}
        {% if x_min < 0 %}
            {% set x_min = 0 %}
        {% endif %}
    
        {% set y_min = printer.toolhead.axis_minimum.y %}
        {% if y_min < 0 %}
            {% set y_min = 0 %}
        {% endif %}
    
        {% set x_min = x_min + bound %}
        {% set x_max = printer.toolhead.axis_maximum.x - bound %}
        {% set y_min = y_min + bound %}
        {% set y_max = printer.toolhead.axis_maximum.y - bound %}
    
    # Small pattern at center
        # Find X/Y center point
        {% set x_center = (printer.toolhead.axis_minimum.x|float + printer.toolhead.axis_maximum.x|float ) / 2 %}
        {% set y_center = (printer.toolhead.axis_minimum.y|float + printer.toolhead.axis_maximum.y|float ) / 2 %}
        
        # Set small pattern box around center point
        {% set x_center_min = x_center - (smallpatternsize/2) %}
        {% set x_center_max = x_center + (smallpatternsize/2) %}
        {% set y_center_min = y_center - (smallpatternsize/2) %}
        {% set y_center_max = y_center + (smallpatternsize/2) %}

    # Save current gcode state (absolute/relative, etc)
    SAVE_GCODE_STATE NAME=TEST_SPEED
    
    # Output parameters to g-code terminal
    { action_respond_info("TEST_SPEED: starting %d iterations at speed %d, accel %d" % (iterations, speed, accel)) }
    
    # Home and get position for comparison later:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28
        # QGL if not already QGLd (only if QGL section exists in config)
        {% if printer.configfile.settings.quad_gantry_level %}
            {% if printer.quad_gantry_level.applied == False %}
                QUAD_GANTRY_LEVEL
                G28 Z
            {% endif %}
        {% endif %} 
        # Move 50mm away from max position and home again (to help with hall effect endstop accuracy - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/24)
        G90
        G1 X{printer.toolhead.axis_maximum.x-50} Y{printer.toolhead.axis_maximum.y-50} F{30*60}
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 X Y
        G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
        G4 P1000 
        GET_POSITION

    # Go to starting position
    G0 X{x_min} Y{y_min} Z{bound + 10} F{speed*60}

    # Set new limits
    {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
        SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} MINIMUM_CRUISE_RATIO={min_cruise_ratio}
    {% else %}
        SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} ACCEL_TO_DECEL={accel / 2}
    {% endif %}

    {% for i in range(iterations) %}
        # Large pattern diagonals
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        
        # Large pattern box
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
    
        # Small pattern diagonals
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        
        # Small pattern box
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
    {% endfor %}

    # Restore max speed/accel/accel_to_decel to their configured values
    {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
        SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} MINIMUM_CRUISE_RATIO={printer.configfile.settings.printer.minimum_cruise_ratio} 
    {% else %}
        SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} ACCEL_TO_DECEL={printer.configfile.settings.printer.max_accel_to_decel}
    {% endif %}

    # Re-home and get position again for comparison:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 # This is a full G28 to fix an issue with CoreXZ - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/12
        # Go to XY home positions (in case your homing override leaves it elsewhere)
        G90
        G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
        G4 P1000 
        GET_POSITION

    # Restore previous gcode state (absolute/relative, etc)
    RESTORE_GCODE_STATE NAME=TEST_SPEED
    