[gcode_macro print_start]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(210)|float %}
    M104 S210
    M140 S60
    G90                            ; absolute positioning
    G28 X
    G0 X173 F1200
    M400
    G28 Y
    G0 Y173 F1200
    M400
    G28 Z
    M400
    QUAD_GANTRY_LEVEL
    G28 Z
    BED_MESH_CALIBRATE
    G28 Z
    M400
    G0 Z5
    
    
   


[gcode_macro print_end]
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F1800                 ; retract filament
    
    TURN_OFF_HEATERS
    
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
    M107                                     ; turn off fan
    
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END

[quad_gantry_level]
gantry_corners:
   -60,-10
   410,420
points:
   25,25
   25,300
   300,300
   300,25
speed: 1200
horizontal_move_z: 5
retries: 10
retry_tolerance: 0.0075
max_adjust: 10