## MCU paths                            [mcu] section
## Thermistor types                     [extruder] and [heater_bed] sections - See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types
## Z Endstop Switch location            [safe_z_home] section
## Homing end position                  [gcode_macro G32] section
## Z Endstop Switch  offset for Z0      [stepper_z] section
## Probe points                         [quad_gantry_level] section
## Min & Max gantry corner postions     [quad_gantry_level] section
## PID tune                             [e'extruder' option 'control' conflicts with included valuextruder] and [heater_bed] sections
## Probe pin                            [pr0obe] section
## Fine tune E steps              'extruder' option 'control' conflicts with included value      [extruder] section

[include mainsail.cfg]
[include canbus-ebb36.cfg]
[include macros.cfg]
[include beacon.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_310039001050535556323420-if00

[virtual_sdcard]
path: /home/joe/printer_data/gcodes
on_error_gcode: 
  G0 Z50
  CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 3000             #Max 4000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0
#Bed size 346, 346

[idle_timeout]
timeout: 1800

[force_move]
enable_force_move: true

[input_shaper]
shaper_freq_x: 55.8 # center frequency for the X axis filter
shaper_type_x: mzv # filter type for the X axis
shaper_freq_y: 40.4 # center frequency for the Y axis filter
shaper_type_y: mzv # filter type for the Y axis
damping_ratio_x: 0.049 # damping ratio for the X axis
damping_ratio_y: 0.063 # damping ratio for the Y axis


#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:400  #set to 200 for 1.8 degree stepper
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: -2
position_endstop: -2
position_max: 346
homing_speed: 20  #Max 100
homing_retract_dist: 0
#homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PC4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PG6 # use the same pin that was previously the endstop_pin!
driver_SGTHRS: 106

##  A Stepper - Right
##  Connected to MOTOR_1
##  Endstop connected to DIAG_1
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:400  #set to 200 for 1.8 degree stepper
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_min: -6
position_endstop: -6
position_max: 352
homing_speed: 20  #Max 100
homing_retract_dist: 0
#homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PD11
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PG9 # use the same pin that was previously the endstop_pin!
driver_SGTHRS: 98
 
#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
#endstop_pin: PG10
endstop_pin: probe:z_virtual_endstop # use beacon as virtual endstop
homing_retract_dist: 0 # beacon needs this to be set to 0
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
position_max: 310
position_min: -25

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PC6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

##  Z1 Stepper - Rear Left
##  Connected to MOTOR_3
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

##  Z2 Stepper - Rear Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

##  Z3 Stepper - Front Right
##  Connected to MOTOR_5
[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

#####################################################################
#   Bed Heater
#####################################################################
[heater_bed]
heater_pin: PA1
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF3
max_power: 0.7
min_temp: 0
max_temp: 120

##  Controller fan - FAN2
[controller_fan controller_fan]
pin: PA8
kick_start_time: 0.5
heater: heater_bed
fan_speed: 0.5

##  Filter fan - FAN3
[heater_fan filter_fan]
pin: PE5
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
heater: heater_bed
heater_temp: 80
fan_speed: 1.0

#####################################################################
#   LED Control
#####################################################################

[output_pin caselight]
## Chamber Lighting - CNC_FAN5
pin: PD12
pwm:true
shutdown_value: 0
value:0
cycle_time: 0.01

#####################################################################
#   Additional Sensors
#####################################################################

#[temperature_sensor chamber_temp]
## Chamber Temperature - T1
#sensor_type: ATC Semitec 104NT-4-R025H42G
#sensor_pin: PF5
#min_temp: 0
#max_temp: 100
#gcode_id: chamber_th#

[safe_z_home]
home_xy_position: 173, 173 # update for your machine
z_hop: 3








# BTT Octopus temperature sensor
[temperature_sensor MCU]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: 0
max_temp: 100

# Raspberry Pi temperature sensor
[temperature_sensor pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100 

# Canbus temperature sensor
[temperature_sensor EBB36]
sensor_type: temperature_mcu
sensor_mcu: EBBCan
min_temp: 0
max_temp: 100

[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
# number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
# keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
# timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
# measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
# max_freq: 200
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
# dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [beacon model default]
#*# model_coef = 1.4931355605800047,
#*# 	  1.8389054095990087,
#*# 	  0.7955889841651337,
#*# 	  0.3688921545476486,
#*# 	  0.3707867488897253,
#*# 	  0.36271991093695294,
#*# 	  -0.28215869709880276,
#*# 	  -0.39006154278914396,
#*# 	  0.22230869329033245,
#*# 	  0.22160139383188843
#*# model_domain = 1.840762173047009e-07,1.9360774696732867e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 42.594779
#*# model_offset = 0.00500
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 40.653
#*# pid_ki = 1.093
#*# pid_kd = 378.071
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.090667, -0.062452, -0.031359, -0.030771, -0.028582, -0.044091, 0.058441, -0.067140, -0.094321, -0.103328
#*# 	  -0.094944, -0.079874, -0.044579, -0.032666, -0.032054, -0.042043, 0.057307, -0.073994, -0.088803, -0.089727
#*# 	  -0.103495, -0.095158, -0.060480, -0.042672, -0.033495, -0.052016, 0.056232, -0.084206, -0.096586, -0.095471
#*# 	  -0.115682, -0.099663, -0.060729, -0.050193, -0.045805, -0.063318, 0.049990, -0.097416, -0.110604, -0.110828
#*# 	  -0.115129, -0.091976, -0.050301, -0.038526, -0.045156, -0.061921, 0.054838, -0.096679, -0.112292, -0.113007
#*# 	  -0.091249, -0.068746, -0.029261, -0.020591, -0.024063, -0.040976, 0.073553, -0.073514, -0.088726, -0.101408
#*# 	  -0.052701, -0.042383, -0.014587, -0.000983, 0.001668, -0.019743, 0.090016, -0.043860, -0.059526, -0.071133
#*# 	  -0.034029, -0.029955, -0.005127, 0.007168, 0.007575, -0.010063, 0.093852, -0.027641, -0.039487, -0.047010
#*# 	  -0.051550, -0.044818, -0.023290, -0.007074, -0.015633, -0.027278, 0.074744, -0.039379, -0.049990, -0.051706
#*# 	  -0.094036, -0.075996, -0.055024, -0.047432, -0.050158, -0.059804, 0.026603, -0.070729, -0.084264, -0.087028
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 326.0
#*# min_y = 20.0
#*# max_y = 326.0
