## MCU paths                            [mcu] section
## Thermistor types                     [extruder] and [heater_bed] sections - See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types
## Z Endstop Switch location            [safe_z_home] section
## Homing end position                  [gcode_macro G32] section
## Z Endstop Switch  offset for Z0      [stepper_z] section
## Probe points                         [quad_gantry_level] section
## Min & Max gantry corner postions     [quad_gantry_level] section
## PID tune                             [e'extruder' option 'control' conflicts with included valuextruder] and [heater_bed] sections
## Probe pin                            [pr0obe] section
## Fine tune E steps              'extruder' option 'control' conflicts with included value      [extruder] section

[include mainsail.cfg]
[include canbus-ebb36.cfg]
[include macros.cfg]
[include beacon.cfg]


[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_310039001050535556323420-if00

[virtual_sdcard]
path: /home/joe/printer_data/gcodes
on_error_gcode: 
  G0 Z50
  CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 4000           #Max 4000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0
#Bed size 346, 346

[idle_timeout]
timeout: 1800

[force_move]
enable_force_move: true

[input_shaper]
shaper_freq_x: 55.8 # center frequency for the X axis filter
shaper_type_x: mzv # filter type for the X axis
shaper_freq_y: 40.4 # center frequency for the Y axis filter
shaper_type_y: mzv # filter type for the Y axis
damping_ratio_x: 0.049 # damping ratio for the X axis
damping_ratio_y: 0.063 # damping ratio for the Y axis


#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:400  #set to 200 for 1.8 degree stepper
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: -2
position_endstop: -2
position_max: 346
homing_speed: 20  #Max 100
homing_retract_dist: 0
#homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PC4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PG6 # use the same pin that was previously the endstop_pin!
driver_SGTHRS: 106

##  A Stepper - Right
##  Connected to MOTOR_1
##  Endstop connected to DIAG_1
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:400  #set to 200 for 1.8 degree stepper
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_min: -6
position_endstop: -6
position_max: 352
homing_speed: 20  #Max 100
homing_retract_dist: 0
#homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PD11
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PG9 # use the same pin that was previously the endstop_pin!
driver_SGTHRS: 98
 
#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
#endstop_pin: PG10
endstop_pin: probe:z_virtual_endstop # use beacon as virtual endstop
homing_retract_dist: 0 # beacon needs this to be set to 0
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
position_max: 310
position_min: -25

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PC6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

##  Z1 Stepper - Rear Left
##  Connected to MOTOR_3
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

##  Z2 Stepper - Rear Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

##  Z3 Stepper - Front Right
##  Connected to MOTOR_5
[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

#####################################################################
#   Bed Heater
#####################################################################
[heater_bed]
heater_pin: PA1
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF3
max_power: 0.7
min_temp: 0
max_temp: 120

##  Controller fan - FAN2
[controller_fan electronics_fan]
pin: PA8
kick_start_time: 0.5
heater: heater_bed
fan_speed: 1.0

[fan_generic filter_fan]
pin: PE5
max_power: 1.0
shutdown_speed: 0.0

##  Filter fan - FAN3
#[heater_fan filter_fan]
#pin: PE5
#heater: heater_bed
#heater_temp: 80.0
#fan_speed: 0.6
#shutdown_speed: 0.0

#####################################################################
#   LED Control
#####################################################################

[output_pin caselight]
## Chamber Lighting - CNC_FAN5
pin: PD12
pwm:true
shutdown_value: 0
value:0
cycle_time: 0.01

#####################################################################
#   Additional Sensors
#####################################################################

#[temperature_sensor chamber_temp]
## Chamber Temperature - T1
#sensor_type: ATC Semitec 104NT-4-R025H42G
#sensor_pin: PF5
#min_temp: 0
#max_temp: 100
#gcode_id: chamber_th#

[safe_z_home]
home_xy_position: 173, 173 # update for your machine

#[homing_override]
#gcode:
  #G28 X # Perform the homing routine for the X axis only
  #M400 # Clear the move buffer; wait for the X homing to completely finish  
  #G0 X173 F12000 # Rapid move to X coordinate 173 at a speed of 200mm/s
  #M400 # Wait for the move to X173 to finish before next command
  #G28 Y # Perform the homing routine for the Y axis only
  #M400 # Wait for the Y homing to completely finish
  #G0 Y173 F12000 # Rapid move to Y coordinate 173 at a speed of 200mm/s
  #M400 # Wait for the move to Y173 to finish
  #G28 Z # Perform the homing routine for the Z axis only
  #M400 # Wait for the Z homing to completely finish
  #G0 Z10 F3000 # Rapidly moves the nozzle to a height of 10mm at a speed of 50mm/s

# BTT Octopus temperature sensor
[temperature_sensor MCU]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: 0
max_temp: 100

# Raspberry Pi temperature sensor
[temperature_sensor pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100 

# Canbus temperature sensor
[temperature_sensor EBB36]
sensor_type: temperature_mcu
sensor_mcu: EBBCan
min_temp: 0
max_temp: 100

[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
# number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
# keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
# timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
# measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
# max_freq: 200
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
# dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [beacon model default]
#*# model_coef = 1.4474841218979613,
#*# 	  1.7816613594429154,
#*# 	  0.7949944004893039,
#*# 	  0.3646418552146747,
#*# 	  0.31706765388217856,
#*# 	  0.4466313265173951,
#*# 	  -0.09115553480906223,
#*# 	  -0.41586092631348565,
#*# 	  0.13134486358561298,
#*# 	  0.22497304017433115
#*# model_domain = 1.8175129261128883e-07,1.9334611768967375e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 43.996809
#*# model_offset = 0.18500
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 40.653
#*# pid_ki = 1.093
#*# pid_kd = 378.071
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.060051, -0.028288, 0.006763, 0.010446, 0.010947, -0.002835, 0.101134, -0.025080, -0.059973, -0.066927
#*# 	  -0.054232, -0.033503, 0.004005, 0.015516, 0.020436, 0.004677, 0.104572, -0.023837, -0.041179, -0.045872
#*# 	  -0.055514, -0.043428, -0.006261, 0.010794, 0.023767, -0.000278, 0.105321, -0.029044, -0.043039, -0.046599
#*# 	  -0.066348, -0.046061, -0.005128, 0.004211, 0.012072, -0.011907, 0.097783, -0.041137, -0.058216, -0.061947
#*# 	  -0.065742, -0.039994, 0.003987, 0.012335, 0.017795, -0.009995, 0.097387, -0.044478, -0.061021, -0.066482
#*# 	  -0.045117, -0.019357, 0.019574, 0.027791, 0.033000, 0.005731, 0.112531, -0.023988, -0.042147, -0.056999
#*# 	  -0.008758, 0.003869, 0.034909, 0.044827, 0.053367, 0.022668, 0.128686, -0.000088, -0.019191, -0.034504
#*# 	  0.002433, 0.009550, 0.036725, 0.048312, 0.052789, 0.025168, 0.129217, 0.010924, -0.006204, -0.016931
#*# 	  -0.019638, -0.012060, 0.011838, 0.024358, 0.021985, 0.001771, 0.102177, -0.007579, -0.023272, -0.028360
#*# 	  -0.066160, -0.045699, -0.020584, -0.014781, -0.010756, -0.028671, 0.060672, -0.034659, -0.052981, -0.058241
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 326.0
#*# min_y = 20.0
#*# max_y = 326.0
